<div cdsCol
     [columnNumbers]="{md: 4}"
     *cdFormLoading="loading">
  <form name="bucketForm"
        #frm="ngForm"
        [formGroup]="bucketForm"
        novalidate>

    <div class="form-header">{{ formTitle }}</div>

    <!-- Id -->
    <div class="form-item"
         *ngIf="editing">
      <cds-text-label for="id"
                      i18n>Id
        <input cdsText
               id="id"
               name="id"
               formControlName="id"
               readonly>
      </cds-text-label>
    </div>

    <!-- Name -->
    <div class="form-item">
      <cds-text-label for="bid"
                      [cdRequiredField]="nameLabel"
                      [invalid]="!bucketForm.controls.bid.valid && bucketForm.controls.bid.dirty"
                      [invalidText]="nameError"
                      >{{ nameLabel }}
        <input cdsText
               [placeholder]="namePlaceholder"
               id="bid"
               name="bid"
               formControlName="bid"
               [readonly]="editing"
               [autofocus]="!editing"
               [invalid]="!bucketForm.controls.bid.valid && bucketForm.controls.bid.dirty">
      </cds-text-label>
      <ng-template #nameError>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'required')"
              i18n>This field is required.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'bucketNameInvalid')"
              i18n>Bucket names can only contain lowercase letters, numbers, periods and hyphens.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'bucketNameNotAllowed')"
              i18n>The chosen name is already in use.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'containsUpperCase')"
              i18n>Bucket names must not contain uppercase characters or underscores.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'lowerCaseOrNumber')"
              i18n>Each label must start and end with a lowercase letter or a number.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'ipAddress')"
              i18n>Bucket names cannot be formatted as IP address.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'onlyLowerCaseAndNumbers')"
              i18n>Bucket labels cannot be empty and can only contain lowercase letters, numbers and hyphens.</span>
        <span class="invalid-feedback"
              *ngIf="bucketForm.showError('bid', frm, 'shouldBeInRange')"
              i18n>Bucket names must be 3 to 63 characters long.</span>
      </ng-template>
    </div>

    <!-- Accounts -->
    @if(accounts.length && accountUsers.length > 0){
      <cds-checkbox formControlName="isAccountOwner"
                    i18n>Select account user
      </cds-checkbox>
    }

    @if (bucketForm.get('isAccountOwner').value) {
      <!-- Account user -->
      <div class="form-item">
        <cds-select [label]="accountUserLabel"
                    id="acc_user"
                    formControlName="accountUser"
                    [invalidText]="accountUserError"
                    [invalid]="!bucketForm.controls.accountUser.valid && bucketForm.controls.accountUser.dirty"
                    [cdRequiredField]="accountUserLabel"
                    >{{ accountUserLabel }}
          <option *ngIf="accountusers === null"
                  [ngValue]="null">{{ loadingText }}</option>
          <option *ngIf="accountusers !== null"
                  value="">{{ selectUserText }}</option>
          <option *ngFor="let user of accountUsers"
                  [value]="user.uid">{{ user.uid }}</option>
        </cds-select>
        <ng-template #accountUserError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('accountUser', frm, 'required')"
                i18n>This field is required.</span>
        </ng-template>
        <cd-alert-panel
          type="info"
          *ngIf="bucketForm.get('accountUser').disabled"
          i18n>
            The bucket is owned by an account. UI does not support changing
            the ownership of bucket owned by an account.
        </cd-alert-panel>
      </div>
    } @else {
      <!-- Owner -->
      <div class="form-item">
        <cds-select label="Owner"
                    formControlName="owner"
                    id="owner"
                    [invalidText]="ownerError"
                    [invalid]="!bucketForm.controls.owner.valid && bucketForm.controls.owner.dirty"
                    cdRequiredField="Owner"
                    i18n>Owner
          <option *ngIf="owners === null"
                  [ngValue]="null">{{ loadingText }}</option>
          <option *ngIf="owners !== null"
                  value="">{{ selectUserText }}</option>
          <option *ngFor="let owner of owners"
                  [value]="owner.uid">{{ owner.uid }}</option>
        </cds-select>
        <ng-template #ownerError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('owner', frm, 'required')"
                i18n>This field is required.</span>
        </ng-template>
      </div>
    }

    <!-- Versioning -->
    <fieldset *ngIf="editing">
      <div class="form-item">
        <legend class="cd-header"
                i18n>Versioning</legend>

        <cds-checkbox name="versioning"
                      formControlName="versioning"
                      id="versioning"
                      (checkedChange)="setMfaDeleteValidators()"
                      i18n>Enabled
          <cd-help-text>
            <span>{{ versioningHelperText }}</span>
          </cd-help-text>
        </cds-checkbox>
      </div>
    </fieldset>

    <!-- Multi-Factor Authentication -->
    <fieldset *ngIf="editing">
      <!-- MFA Delete -->
      <div class="form-item">
        <legend class="cd-header"
                i18n>Multi-Factor Authentication</legend>

        <cds-checkbox name="mfa-delete"
                      formControlName="mfa-delete"
                      id="mfa-delete"
                      (checkedChange)="setMfaDeleteValidators()"
                      [helperText]="mfaDeleteHelperText"
                      i18n>Delete enabled
        </cds-checkbox>
      </div>
      <div *ngIf="areMfaCredentialsRequired()"
           class="form-item">
        <cds-text-label for="mfa-token-serial"
                        [cdRequiredField]="mfaSerialLabel"
                        [invalid]="!bucketForm.controls['mfa-token-serial'].valid && bucketForm.controls['mfa-token-serial'].dirty"
                        [invalidText]="mfaSerialError"
                        >{{ mfaSerialLabel }}
          <input cdsText
                 id="mfa-token-serial"
                 name="mfa-token-serial"
                 formControlName="mfa-token-serial"
                 [invalid]="!bucketForm.controls['mfa-token-serial'].valid && bucketForm.controls['mfa-token-serial'].dirty">
        </cds-text-label>
        <ng-template #mfaSerialError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('mfa-token-serial', frm, 'required')"
                i18n>This field is required.</span>
        </ng-template>
      </div>
      <div *ngIf="areMfaCredentialsRequired()"
           class="form-item">
        <cds-text-label for="mfa-token-pin"
                        [cdRequiredField]="mfaTokenPinLabel"
                        [invalid]="!bucketForm.controls['mfa-token-pin'].valid && (bucketForm.controls['mfa-token-pin'].dirty)"
                        [invalidText]="mfaPinError"
                        >{{ mfaTokenPinLabel }}
          <input cdsText
                 id="mfa-token-pin"
                 name="mfa-token-pin"
                 formControlName="mfa-token-pin"
                 [invalid]="!bucketForm.controls['mfa-token-pin'].valid && (bucketForm.controls['mfa-token-pin'].dirty)">
        </cds-text-label>
        <ng-template #mfaPinError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('mfa-token-pin', frm, 'required')"
                i18n>This field is required.</span>
        </ng-template>
      </div>
    </fieldset>

    <!-- Object Locking -->
    <fieldset *ngIf="!editing || (editing && bucketForm.getValue('lock_enabled'))">
      <div class="form-item">
        <legend class="cd-header">
          {{ objectLockingTitle }}
          <cd-help-text>
              {{ objectLockingDescription }}
          </cd-help-text>
        </legend>
        <!-- Object Locking enable -->
        <cds-checkbox name="lock_enabled"
                      formControlName="lock_enabled"
                      id="lock_enabled"
                      [disabled]="editing"
                      i18n>Enable

          <cd-help-text>
            <span>{{ objectLockingEnableHelperText }}</span>
          </cd-help-text>
        </cds-checkbox>
      </div>

      <!-- Object Locking mode -->
      <div *ngIf="bucketForm.getValue('lock_enabled')"
           class="form-item">
        <cds-select label="Mode"
                    for="lock_mode"
                    formControlName="lock_mode"
                    name="lock_mode"
                    [helperText]="lockModeHelper"
                    id="lock_mode"
                    i18n>
          <option value="COMPLIANCE">Compliance</option>
          <option value="GOVERNANCE">Governance</option>
        </cds-select>
        <ng-template #lockModeHelper>
          <span *ngIf="bucketForm.getValue('lock_mode') === 'COMPLIANCE'"
                i18n>
            In COMPLIANCE an object version cannot be overwritten or deleted for the duration of the period.
          </span>
          <span *ngIf="bucketForm.getValue('lock_mode') === 'GOVERNANCE'"
                i18n>
            In GOVERNANCE mode, users cannot overwrite or delete an object version or alter its lock settings unless they have special permissions.
          </span>
        </ng-template>
      </div>
      <!-- Retention period (days) -->
      <div *ngIf="bucketForm.getValue('lock_enabled')"
           class="form-item">
        <cds-number name="lock_retention_period_days"
                    formControlName="lock_retention_period_days"
                    id="lock_retention_period_days"
                    min="1"
                    [label]="retentionPeriodLabel"
                    [helperText]="retentionPeriodHelperText"
                    [invalid]="bucketForm.controls.lock_retention_period_days.invalid && (bucketForm.controls.lock_retention_period_days.dirty)"
                    [invalidText]="retentionPeriodError"
                    i18n></cds-number>
        <ng-template #retentionPeriodError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('lock_retention_period_days', frm, 'pattern')"
                i18n>The entered value must be a positive integer.</span>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('lock_retention_period_days', frm, 'lockDays')"
                i18n>Retention Days must be a positive integer.</span>
        </ng-template>
      </div>
      <!-- Alerts -->
      <cd-alert-panel
        type="info"
        *ngIf="bucketForm.getValue('lock_enabled')"
        class="me-1"
        i18n-title>
          Bucket Versioning can't be disabled when Object Locking is enabled.
      </cd-alert-panel>
      <cd-alert-panel
        type="warning"
        *ngIf="bucketForm.getValue('lock_enabled')">
          Enabling Object Locking will allow the configuration of GOVERNANCE or COMPLIANCE modes, which will help ensure that an object version cannot be overwritten or deleted for the specified period.
      </cd-alert-panel>
    </fieldset>

    <!-- Encryption -->
    <fieldset>
      <div class="form-item">
        <legend class="cd-header"
                i18n>Encryption</legend>
        <cds-checkbox name="encryption_enabled"
                      formControlName="encryption_enabled"
                      id="encryption_enabled"
                      [disabled]="!kmsConfigured && !s3Configured"
                      i18n>Enable
          <cd-help-text [attr.aria-label]="encryptionHelperAriaLabel">
            <span>{{ encryptionHelperText }}
                <a href="#/rgw/configuration"
                   i18n-aria-label="click here">{{ isZhHans ? '点击此处' : 'Click here' }}</a></span>
          </cd-help-text>
        </cds-checkbox>
      </div>

      <div *ngIf="bucketForm.getValue('encryption_enabled')">
        <div class="form-item">
          <cds-radio-group formControlName="encryption_type">
          <cds-radio value="AES256"
                     [disabled]="!s3Configured">SSE-S3</cds-radio>
          <cds-radio value="aws:kms"
                     [disabled]="!kmsConfigured">{{ kmsExternalServiceText }}</cds-radio>
          </cds-radio-group>
        </div>

        <div *ngIf="bucketForm.getValue('encryption_type') === 'aws:kms'">
          <div class="form-item">
            <cds-select [label]="kmsProviderLabel"
                        for="kms_provider"
                        formControlName="kms_provider"
                        name="kms_provider"
                        id="kms_provider"
                        [invalidText]="kmsProviderError"
                        [invalid]="!bucketForm.controls.kms_provider.valid && (bucketForm.controls.kms_provider.dirty)"
                        [cdRequiredField]="kmsProviderLabel"
                        >{{ kmsProviderLabel }}
              <option *ngIf="kmsProviders === null"
                      [ngValue]="null">{{ loadingText }}</option>
              <option *ngIf="kmsProviders !== null"
                      [ngValue]="null">{{ selectProviderText }}</option>
              <option *ngFor="let provider of kmsProviders"
                      [value]="provider">{{ provider }}</option>
            </cds-select>
            <ng-template #kmsProviderError>
              <span class="invalid-feedback"
                    *ngIf="bucketForm.showError('kms_provider', frm, 'required')"
                    i18n>This field is required.</span>
            </ng-template>
          </div>

          <div class="form-item">
            <cds-text-label for="keyId"
                            [cdRequiredField]="keyIdLabel"
                            [invalid]="!bucketForm.controls.keyId.valid && (bucketForm.controls.keyId.dirty)"
                            [invalidText]="keyIdError">{{ keyIdLabel }}
              <input cdsText
                     id="keyId"
                     name="keyId"
                     formControlName="keyId"
                     [invalid]="!bucketForm.controls.keyId.valid && (bucketForm.controls.keyId.dirty)">
            </cds-text-label>
            <ng-template #keyIdError>
              <span class="invalid-feedback"
                    *ngIf="bucketForm.showError('keyId', frm, 'required')"
                    i18n>This field is required.</span>
            </ng-template>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Replication -->
    <fieldset>
      <div class="form-item">
        <legend class="cd-header"
                i18n>Replication</legend>
        <ng-container *ngIf="{status: multisiteStatus$, isDefaultZg: isDefaultZoneGroup$ | async} as multisiteStatus; else loadingTpl">
          <cds-checkbox name="replication"
                        formControlName="replication"
                        id="replication"
                        [disabled]="!multisiteStatus.isDefaultZg && !multisiteStatus.status.available"
                        i18n-helperText
                        i18n>Enable
            <cd-help-text>{{ replicationHelperText }}</cd-help-text>
          </cds-checkbox>

          <cd-alert-panel type="info"
                          class="me-1"
                          id="replication-info"
                          spacingClass="mt-1"
                          *ngIf="!editing">
            {{ replicationInfoText }}
          </cd-alert-panel>
        </ng-container>
      </div>
    </fieldset>

    <!-- Tags -->
    <fieldset>
      <legend class="cd-header"
              i18n>Tags
        <cd-help-text>{{ taggingHelperText }}</cd-help-text>
      </legend>
      <span *ngFor="let tag of tags; let i=index;">
        <ng-container *ngTemplateOutlet="tagTpl; context:{index: i, tag: tag}"></ng-container>
      </span>

      <div cdsRow>
        <div cdsCol>
          <cds-tooltip [description]="tags.length > 19 ? 'Maximum of 20 tags reached' : ''"
                       [highContrast]="true"
                       [caret]="true">
            <button cdsButton="tertiary"
                    id="add-tag"
                    [disabled]="tags.length > 19"
                    (click)="showTagModal()">
              <ng-container i18n>Add tag</ng-container>
              <svg cdsIcon="add"
                   size="32"
                   class="cds--btn__icon"></svg>
            </button>
          </cds-tooltip>
        </div>
      </div>
    </fieldset>

    <!-- Policies -->
    <fieldset>
      <div class="form-item">
        <legend class="cd-header"
                i18n>Policies
        </legend>

        <!-- Bucket policy -->
        <cds-textarea-label for="id"
                            [invalid]="!bucketForm.controls.bucket_policy.valid && (bucketForm.controls.bucket_policy.dirty)"
                            [invalidText]="bucketPolicyError"
                            i18n>Bucket Policy
          <textarea cdsTextArea
                    class="textarea-field"
                    id="bucket_policy"
                    formControlName="bucket_policy"
                    (change)="textAreaOnChange('bucket_policy')"
                    cols="200"
                    #bucketPolicyTextArea></textarea>
        </cds-textarea-label>
        <ng-template #bucketPolicyError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('bucket_policy', frm, 'invalidJson')"
                i18n>Invalid json text.</span>
        </ng-template>
        <div cdsRow>
          <div cdsCol>
            <cds-button-set class="mt-1">
              <button cdsButton="tertiary"
                      id="example-generator-button"
                      (click)="openUrl('https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-bucket-policies.html?icmpid=docs_amazons3_console')"
                      i18n>Policy examples
                <svg cdsIcon="launch"
                     size="16"
                     class="cds--btn__icon"></svg>
              </button>
              <button cdsButton="tertiary"
                      id="example-generator-button"
                      (click)="openUrl('https://awspolicygen.s3.amazonaws.com/policygen.html')"
                      i18n>Policy generator
                <svg cdsIcon="launch"
                     size="16"
                     class="cds--btn__icon"></svg>
              </button>
            </cds-button-set>
          </div>
          <div cdsCol>
            <cds-button-set class="float-end mt-1">
              <button cdsButton="tertiary"
                      id="clear-bucket-policy"
                      (click)="clearTextArea('bucket_policy', '{}')"
                      i18n>Clear
                <svg cdsIcon="close"
                     size="32"
                     class="cds--btn__icon"></svg>
              </button>
            </cds-button-set>
          </div>
        </div>
      </div>

      <!-- Lifecycle -->
      <div *ngIf="editing"
           class="form-item">
        <cds-textarea-label for="id"
                            [invalid]="!bucketForm.controls.lifecycle.valid && bucketForm.controls.lifecycle.dirty"
                            [invalidText]="lifecycleError"
                            i18n>Lifecycle
          <textarea cdsTextArea
                    class="textarea-field"
                    id="lifecycle"
                    formControlName="lifecycle"
                    (change)="textAreaOnChange('lifecycle')"
                    cols="200"
                    #lifecycleTextArea></textarea>
          <cd-help-text>{{ lifecycleDocumentHelperText }}</cd-help-text>
        </cds-textarea-label>
        <ng-template #lifecycleError>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('lifecycle', frm, 'invalidJson')"
                i18n>Invalid json text.</span>
          <span class="invalid-feedback"
                *ngIf="bucketForm.showError('lifecycle', frm, 'invalidXml')"
                i18n>Invalid xml text.</span>
        </ng-template>
        <div cdsRow>
          <div cdsCol>
            <cds-button-set class="mt-1">
              <button cdsButton="tertiary"
                      id="lifecycle-examples-button"
                      (click)="openUrl('https://docs.aws.amazon.com/cli/latest/reference/s3api/put-bucket-lifecycle.html#examples')"
                      i18n>Policy examples
                <svg cdsIcon="launch"
                     size="16"
                     class="cds--btn__icon"></svg>
              </button>
            </cds-button-set>
          </div>
          <div cdsCol>
            <cds-button-set class="float-end mt-1">
              <button cdsButton="tertiary"
                      id="clear-lifecycle"
                      (click)="clearTextArea('lifecycle', '{}')"
                      i18n>Clear
                <svg cdsIcon="close"
                     size="32"
                     class="cds--btn__icon"></svg>
              </button>
            </cds-button-set>
          </div>
        </div>
      </div>

      <div class="form-item">

        <!-- ACL -->
        <cds-text-label i18n>ACL
          <cd-help-text>{{ aclHelpText }}</cd-help-text>
        </cds-text-label>
        <div cdsRow
             class="form-item-append">
          <div cdsCol>
            <cds-select id="grantee"
                        name="grantee"
                        [label]="granteeLabel"
                        formControlName="grantee"
                        [helperText]="granteeHelperText"
                        [invalid]="!bucketForm.controls.grantee.valid && (bucketForm.controls.grantee.dirty)"
                        [invalidText]="granteeError"
                        (valueChange)="onSelectionFilter()"
                        >{{ granteeLabel }}
              <option *ngFor="let item of grantees"
                      [value]="item">{{ item === 'Owner' ? ownerLabel : item }}</option>
            </cds-select>
            <ng-template #granteeError>
              <span class="invalid-feedback"
                    *ngIf="bucketForm.showError('grantee', frm, 'required')"
                    i18n>This field is required.</span>
            </ng-template>
          </div>
          <div cdsCol>
            <cds-select id="aclPermission"
                        name="aclPermission"
                        [invalid]="!bucketForm.controls.aclPermission.valid && (bucketForm.controls.aclPermission.dirty)"
                        [invalidText]="aclPermissionError"
                        [label]="permissionsLabel"
                        [helperText]="permissionsHelperText"
                        formControlName="aclPermission">
              <option *ngFor="let permission of aclPermissions"
                      [value]="permission"
                      >{{ permission === 'Full control' ? fullControlText : permission }}</option>
            </cds-select>
            <ng-template #aclPermissionError>
              <span class="invalid-feedback"
                    *ngIf="bucketForm.showError('aclPermission', frm, 'required')"
                    i18n>This field is required.</span>
            </ng-template>
          </div>
        </div>
      </div>
    </fieldset>

    <!--Advanced-->
    <cd-form-advanced-fieldset>
      <!-- Placement target -->
      <div class="form-item"
           *ngIf="!editing">
        <cds-select [label]="placementTargetLabel"
                    for="placement-target"
                    formControlName="placement-target"
                    name="placement-target"
                    id="placement-target"
                    [helperText]="placementTargetHelperText"
                    >{{ placementTargetLabel }}
          <option *ngIf="placementTargets === null"
                  [ngValue]="null">{{ loadingText }}</option>
          <option *ngIf="placementTargets !== null"
                  [ngValue]="null">{{ selectPlacementTargetText }}</option>
          <option *ngFor="let placementTarget of placementTargets"
                  [value]="placementTarget.name">{{ placementTarget.description }}</option>
        </cds-select>
      </div>

      <!-- Bucket Rate Limit -->
      <cd-rgw-rate-limit [type]="'bucket'"
                         [isEditing]="this.editing"
                         [allowBid]="this.bucketForm.getValue('bid')"
                         (rateLimitFormGroup)="rateLimitFormInit($event)">
      </cd-rgw-rate-limit>
    </cd-form-advanced-fieldset>

    <cd-form-button-panel (submitActionEvent)="submit()"
                          [form]="bucketForm"
                          [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"
                          wrappingClass="text-right"></cd-form-button-panel>
  </form>
</div>

<ng-template #tagTpl
             let-tag="tag"
             let-index="index">
  <div class="form-item form-item-append">
    <ng-container *ngFor="let config of tagConfig">
      <input type="text"
             id="tag-{{config.attribute}}-{{index}}"
             cdsText
             [ngbTooltip]="config.attribute"
             [value]="tag[config.attribute]"
             readonly>
    </ng-container>

    <!-- Tag actions -->
    <cds-icon-button kind="tertiary"
                     size="md"
                     (click)="showTagModal(index)">
      <svg cdsIcon="edit"
           size="32"
           class="cds--btn__icon"></svg>
    </cds-icon-button>
    <cds-icon-button kind="danger"
                     size="md"
                     (click)="deleteTag(index)">
      <svg cdsIcon="trash-can"
           size="32"
           class="cds--btn__icon"></svg>
    </cds-icon-button>
  </div>
</ng-template>

<ng-template #loadingTpl>
  <cd-loading-panel i18n>Checking multi-site status...</cd-loading-panel>
</ng-template>
