<cd-modal [modalRef]="activeModal">
  <ng-container class="modal-title">将单站点迁移到多站点
    <cd-helper>
      <span>将包含默认 Zone Group 和 Zone 的单站点部署迁移为多站点系统</span>
    </cd-helper>
  </ng-container>

  <ng-container class="modal-content">
    <form name="multisiteMigrateForm"
          #formDir="ngForm"
          [formGroup]="multisiteMigrateForm"
          novalidate>
    <div class="modal-body">
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="realmName"
               i18n>Realm Name</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="realmNamePlaceholder"
                 id="realmName"
                 name="realmName"
                 formControlName="realmName">
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('realmName', formDir, 'required')"
                >{{ requiredText }}</span>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('realmName', formDir, 'uniqueName')"
                i18n>The chosen realm name is already in use.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zonegroupName"
               i18n>Rename default zone group</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="zonegroupNamePlaceholder"
                 id="zonegroupName"
                 name="zonegroupName"
                 formControlName="zonegroupName">
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zonegroupName', formDir, 'required')"
                >{{ requiredText }}</span>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zonegroupName', formDir, 'uniqueName')"
                i18n>The chosen zone group name is already in use.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zonegroup_endpoints"
               i18n>Zone group Endpoints
        </label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="endpointPlaceholder"
                 id="zonegroup_endpoints"
                 name="zonegroup_endpoints"
                 formControlName="zonegroup_endpoints">
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zonegroup_endpoints', formDir, 'required')"
                >{{ requiredText }}</span>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zonegroup_endpoints', formDir, 'invalidURL')"
                >{{ validUrlText }}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zoneName"
               i18n>Rename default zone</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="zoneNamePlaceholder"
                 id="zoneName"
                 name="zoneName"
                 formControlName="zoneName">
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zoneName', formDir, 'required')"
                >{{ requiredText }}</span>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zoneName', formDir, 'uniqueName')"
                i18n>The chosen zone name is already in use.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zone_endpoints"
               i18n>Zone Endpoints
        </label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="endpointPlaceholder"
                 id="zone_endpoints"
                 name="zone_endpoints"
                 formControlName="zone_endpoints">
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zone_endpoints', formDir, 'required')"
                >{{ requiredText }}</span>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('zone_endpoints', formDir, 'invalidURL')"
                >{{ validUrlText }}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="username"
               i18n>Username</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 placeholder="用户名"
                 id="username"
                 name="username"
                 formControlName="username">
          <cd-help-text>
            <span i18n>Specify the username for the system user. This user will be created automatically as part of the process.</span>
          </cd-help-text>
          <span class="invalid-feedback"
                *ngIf="multisiteMigrateForm.showError('username', formDir, 'required')"
                >{{ requiredText }}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <cd-form-button-panel (submitActionEvent)="submit()"
                            [submitText]="'迁移到多站点'"
                            [form]="multisiteMigrateForm"></cd-form-button-panel>
    </div>
    </form>
  </ng-container>
</cd-modal>
