<cds-overflow-menu [customTrigger]="customTrigger"
                   [flip]="true">
  <li class="cds--overflow-menu-options__option mb-2">
    <button routerLink="/user-management"
            class="cds--overflow-menu-options__btn">{{ userManagementLabel }}</button>
  </li>
</cds-overflow-menu>

<ng-template #customTrigger>
  <svg cdsIcon="settings"
       size="20"
       title="user"
       *ngIf="userPermission.read"></svg>
  <span class="d-md-none">{{ settingsLabel }}</span>
</ng-template>
