<main class="login full-height">
  <header>
    <nav class="navbar p-4">
      <a class="navbar-brand"></a>
      <div class="form-inline">
        <cd-language-selector></cd-language-selector>
      </div>
    </nav>
  </header>
  <section>
    <div class="container">
      <div class="row full-height">
        <div class="col-sm-12 col-md-6 d-sm-block login-form">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-12 col-md-6 d-sm-block branding-info">
          <img src="assets/kx-registry-logo.svg"
               alt="KX Storage"
               class="img-fluid pb-3 brand-logo">
          <h3 class="brand-title mb-2">KX Storage</h3>
          <p class="brand-subtitle mb-4"
             i18n="@@kxLoginSubtitle">Distributed Storage Management System</p>
          <cd-custom-login-banner></cd-custom-login-banner>
        </div>
      </div>
    </div>
  </section>
</main>
