<cd-rgw-multisite-tabs></cd-rgw-multisite-tabs>

<legend>
  多站点同步策略
  <cd-help-text>
    多站点存储桶粒度同步策略可对不同区域之间的存储桶数据流转进行细粒度控制。启用该策略后，不同区域中的存储桶可以独立演进，也可以从其他区域中名称或 ID 不同的存储桶拉取数据。
  </cd-help-text>
</legend>
<cd-table
  #table
  [autoReload]="false"
  [data]="syncPolicyData"
  [columns]="columns"
  identifier="uniqueId"
  [forceIdentifier]="true"
  selectionType="multiClick"
  [searchableObjects]="true"
  [hasDetails]="true"
  [toolHeader]="true"
  (setExpandedRow)="setExpandedRow($event)"
  (fetchData)="getPolicyList($event)"
  (updateSelection)="updateSelection($event)">
  <div class="table-actions">
    <cd-table-actions
      [permission]="permission"
      [selection]="selection"
      class="btn-group"
      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
  <cd-rgw-multisite-sync-policy-details
    *cdTableDetail
    [expandedRow]="expandedRow"
    [permission]="permission">
  </cd-rgw-multisite-sync-policy-details>
</cd-table>

<ng-template #deleteTpl>
  <cd-alert-panel type="danger"
                  i18n>
    Are you sure you want to delete these policy groups?
  </cd-alert-panel>
</ng-template>
<router-outlet name="modal"
               (deactivate)="getPolicyList()"></router-outlet>
