<nav class="pagination"
     aria-label="Pagination"
     i18n-aria-label>
  <button
    class="pagination__btn pagination__btn_first"
    [attr.aria-label]="firstPageAriaLabel"
    [disabled]="!canPrevious()"
    (click)="selectPage(1)"
  >
    <i class="fa fa-angle-double-left"
       aria-hidden="true"></i>
  </button>
  <button
    class="pagination__btn pagination__btn_prev"
    [attr.aria-label]="previousPageAriaLabel"
    [disabled]="!canPrevious()"
    (click)="prevPage()"
  >
    <i class="fa fa-angle-left"
       aria-hidden="true"></i>
  </button>
  <div class="pagination__pages">
    <input
      #pageNumber
      class="pagination__page_input"
      [attr.aria-label]="currentPageAriaLabel"
      type="number"
      min="1"
      [max]="totalPages"
      [value]="page"
      (input)="selectPage(pageNumber.valueAsNumber)"
    />
    <span aria-hidden="true"> of {{ totalPages }} </span>
  </div>
  <button
    class="pagination__btn pagination__btn_next"
    [attr.aria-label]="nextPageAriaLabel"
    (click)="nextPage()"
    [disabled]="!canNext()"
  >
    <i class="fa fa-angle-right"
       aria-hidden="true"></i>
  </button>
  <button
    class="pagination__btn pagination__btn_last"
    [attr.aria-label]="lastPageAriaLabel"
    [disabled]="!canNext()"
    (click)="selectPage(totalPages)"
  >
    <i class="fa fa-angle-double-right"
       aria-hidden="true"></i>
  </button>
</nav>
