<cd-modal [modalRef]="activeModal">
  <ng-container class="modal-title">{{ formTitle }}</ng-container>

  <ng-container class="modal-content">
    <form name="multisiteSystemUserForm"
          #formDir="ngForm"
          [formGroup]="multisiteSystemUserForm"
          novalidate>
      <div class="modal-body">
        <div class="form-group row">
          <label class="cd-col-form-label required"
                 for="userName"
                 >{{ userNameLabel }}</label>
          <div class="cd-col-form-input">
            <input class="form-control"
                   type="text"
                   [placeholder]="userNamePlaceholder"
                   id="userName"
                   name="userName"
                   formControlName="userName">
            <span class="invalid-feedback"
                  *ngIf="multisiteSystemUserForm.showError('userName', formDir, 'required')"
                  >{{ requiredText }}</span>
            <span class="invalid-feedback"
                  *ngIf="multisiteSystemUserForm.showError('userName', formDir, 'uniqueName')"
                  >{{ duplicateNameText }}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <cd-form-button-panel (submitActionEvent)="submit()"
                              [form]="multisiteSystemUserForm"></cd-form-button-panel>
      </div>
    </form>
  </ng-container>
</cd-modal>
