<fieldset *ngIf="type">
  <legend class="cd-header">
    {{ legendLabel }}
    <cd-help-text>
      {{ typeHelpText }}
    </cd-help-text>
  </legend>
  <form name="form"
        #frm="ngForm"
        [formGroup]="form"
        novalidate>
    <div class="row"
         *ngIf="!!globalRateLimit && globalRateLimit.enabled">
      <div class="col-3"></div>
      <div class="col-9">
        <div>
          <cd-alert-panel type="info"
                          class="me-1"
                          id="global-ratelimit-info">
            <div>
              <span class="bold">{{ globalRateLimitTitle }}</span> <br />{{ maxReadBytesLabel }} :
              {{ globalRateLimit.max_read_bytes | dimlessBinaryPerMinute }} <br />{{ maxReadOpsLabel }} :
              {{ globalRateLimit.max_read_ops }} <br />{{ maxWriteBytesLabel }} :
              {{ globalRateLimit.max_write_bytes | dimlessBinaryPerMinute }} <br />{{ maxWriteOpsLabel }} :
              {{ globalRateLimit.max_write_ops }}
            </div>
          </cd-alert-panel>
        </div>
      </div>
    </div>

    <!-- Enabled -->
    <div class="form-item">
      <cds-checkbox id="rate_limit_enabled"
                    formControlName="rate_limit_enabled">
        <ng-container>{{ enabledLabel }}</ng-container>
        <cd-help-text>{{ enabledHelpText }}</cd-help-text>
      </cds-checkbox>
    </div>

    <!-- Unlimited read ops -->
    <div class="form-item"
         *ngIf="form.controls.rate_limit_enabled.value">
      <cds-checkbox id="rate_limit_max_readOps_unlimited"
                    formControlName="rate_limit_max_readOps_unlimited">
        <ng-container>{{ unlimitedReadOpsLabel }}</ng-container>
        <cd-help-text>{{ unlimitedReadOpsHelpText }}</cd-help-text>
      </cds-checkbox>
    </div>

    <!-- Maximum read ops -->
    <div
      class="form-item"
      *ngIf="
        form.controls.rate_limit_enabled.value && !form.getValue('rate_limit_max_readOps_unlimited')
      "
    >
      <cds-number id="rate_limit_max_readOps"
                  formControlName="rate_limit_max_readOps"
                  [label]="maxReadOpsLabel"
                  [cdRequiredField]="maxReadOpsLabel"
                  [helperText]="maxReadOpsHelpText"
                  [invalid]="form.controls.rate_limit_max_readOps.invalid && form.controls.rate_limit_max_readOps.dirty"
                  [invalidText]="rateLimitMaxReadOpsError">
      </cds-number>

      <ng-template #rateLimitMaxReadOpsError>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readOps', frm, 'required')"
          >{{ requiredText }}</span
        >
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readOps', frm, 'rateOpsMaxSize')"
          >{{ invalidValueText }}</span
        >
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readOps', frm, 'min')"
          >{{ positiveNumberText }}</span
        >
      </ng-template>
    </div>

    <!-- Unlimited Write Ops -->
    <div class="form-item"
         *ngIf="form.controls.rate_limit_enabled.value">
      <cds-checkbox id="rate_limit_max_writeOps_unlimited"
                    formControlName="rate_limit_max_writeOps_unlimited">
        <ng-container>{{ unlimitedWriteOpsLabel }}</ng-container>
        <cd-help-text>{{ unlimitedWriteOpsHelpText }}</cd-help-text>
      </cds-checkbox>
    </div>

    <!-- Maximum Write Ops -->
    <div
      class="form-item"
      *ngIf="
        form.controls.rate_limit_enabled.value &&
        !form.getValue('rate_limit_max_writeOps_unlimited')
      "
    >
      <cds-number id="rate_limit_max_writeOps"
                  formControlName="rate_limit_max_writeOps"
                  [label]="maxWriteOpsLabel"
                  [cdRequiredField]="maxWriteOpsLabel"
                  [helperText]="maxWriteOpsHelpText"
                  [invalid]="form.controls.rate_limit_max_writeOps.invalid && form.controls.rate_limit_max_writeOps.dirty"
                  [invalidText]="rateLimitMaxWriteOpsError">
      </cds-number>

      <ng-template #rateLimitMaxWriteOpsError>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_writeOps', frm, 'required')"
          >{{ requiredText }}</span
        >
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_writeOps', frm, 'rateOpsMaxSize')"
          >{{ invalidValueText }}</span
        >
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_writeOps', frm, 'min')"
          >{{ positiveNumberText }}</span
        >
      </ng-template>
    </div>

    <!-- Unlimited Read Bytes -->
    <div class="form-item"
         *ngIf="form.controls.rate_limit_enabled.value">
      <cds-checkbox id="rate_limit_max_readBytes_unlimited"
                    formControlName="rate_limit_max_readBytes_unlimited">
        <ng-container>{{ unlimitedReadBytesLabel }}</ng-container>
        <cd-help-text>{{ unlimitedReadBytesHelpText }}</cd-help-text>
      </cds-checkbox>
    </div>

    <!-- Maximum Read Bytes -->
    <div
      class="form-item"
      *ngIf="
        form.controls.rate_limit_enabled.value &&
        !form.getValue('rate_limit_max_readBytes_unlimited')
      "
    >
      <cds-text-label labelInputID="rate_limit_max_readBytes"
                      [cdRequiredField]="maxReadBytesLabel"
                      [helperText]="maxReadBytesHelpText"
                      [invalid]="form.controls.rate_limit_max_readBytes.invalid && form.controls.rate_limit_max_readBytes.dirty"
                      [invalidText]="maxReadBytesError">
        <input cdsText
               id="rate_limit_max_readBytes"
               formControlName="rate_limit_max_readBytes"
               defaultUnit="b"
               [invalid]="form.controls.rate_limit_max_readBytes.invalid && form.controls.rate_limit_max_readBytes.dirty"
               cdDimlessBinaryPerMinute>
      </cds-text-label>

      <ng-template #maxReadBytesError>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'required')">{{ requiredText }}</span>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'rateByteMaxSize')">{{ invalidValueText }}</span>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'min')">{{ positiveNumberText }}</span>
      </ng-template>
    </div>

    <!-- Unlimited Write Bytes -->
    <div class="form-item"
         *ngIf="form.controls.rate_limit_enabled.value">
      <cds-checkbox id="rate_limit_max_writeBytes_unlimited"
                    formControlName="rate_limit_max_writeBytes_unlimited">
        <ng-container>{{ unlimitedWriteBytesLabel }}</ng-container>
        <cd-help-text>{{ unlimitedWriteBytesHelpText }}</cd-help-text>
      </cds-checkbox>
    </div>

    <!-- Maximum Write Bytes -->
    <div
      class="form-item"
      *ngIf="
        form.controls.rate_limit_enabled.value &&
        !form.getValue('rate_limit_max_writeBytes_unlimited')
      ">
      <cds-text-label labelInputID="rate_limit_max_writeBytes"
                      [cdRequiredField]="maxWriteBytesLabel"
                      [helperText]="maxWriteBytesHelpText"
                      [invalid]="form.controls.rate_limit_max_writeBytes.invalid && form.controls.rate_limit_max_writeBytes.dirty"
                      [invalidText]="maxWriteBytesError">
        <input cdsText
               id="rate_limit_max_writeBytes"
               formControlName="rate_limit_max_writeBytes"
               defaultUnit="b"
               [invalid]="form.controls.rate_limit_max_writeBytes.invalid && form.controls.rate_limit_max_writeBytes.dirty"
               cdDimlessBinaryPerMinute>
      </cds-text-label>

      <ng-template #maxWriteBytesError>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'required')">{{ requiredText }}</span>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'rateByteMaxSize')">{{ invalidValueText }}</span>
        <span
          class="invalid-feedback"
          *ngIf="form.showError('rate_limit_max_readBytes', frm, 'min')">{{ positiveNumberText }}</span>
      </ng-template>
    </div>
  </form>
</fieldset>
