<cd-modal [modalRef]="activeModal">
  <ng-container class="modal-title">{{ formTitle }}
  </ng-container>

  <ng-container class="modal-content">
    <form name="createMultisiteEntitiesForm"
          #formDir="ngForm"
          [formGroup]="createMultisiteEntitiesForm"
          novalidate>
    <div class="modal-body">
      <cd-alert-panel type="info"
                      spacingClass="mb-3">{{ defaultMasterNotice }}
      </cd-alert-panel>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="realmName"
               i18n>Realm Name</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="realmNamePlaceholder"
                 id="realmName"
                 name="realmName"
                 formControlName="realmName">
          <span class="invalid-feedback"
                *ngIf="createMultisiteEntitiesForm.showError('realmName', formDir, 'required')"
                i18n>This field is required.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zonegroupName"
               i18n>Zone Group Name</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="zoneGroupNamePlaceholder"
                 id="zonegroupName"
                 name="zonegroupName"
                 formControlName="zonegroupName">
          <span class="invalid-feedback"
                *ngIf="createMultisiteEntitiesForm.showError('zonegroupName', formDir, 'required')"
                i18n>This field is required.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="cd-col-form-label required"
               for="zoneName"
               i18n>Zone Name</label>
        <div class="cd-col-form-input">
          <input class="form-control"
                 type="text"
                 [placeholder]="zoneNamePlaceholder"
                 id="zoneName"
                 name="zoneName"
                 formControlName="zoneName">
          <span class="invalid-feedback"
                *ngIf="createMultisiteEntitiesForm.showError('zoneName', formDir, 'required')"
                i18n>This field is required.</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <cd-form-button-panel (submitActionEvent)="submit()"
                            [form]="createMultisiteEntitiesForm"
                            [submitText]="submitText"></cd-form-button-panel>
    </div>
    </form>
  </ng-container>
</cd-modal>
