<div cdsCol
     [columnNumbers]="{md: 4}">
  <ng-container *cdFormLoading="loading">
    <form name="rbdForm"
          #formDir="ngForm"
          [formGroup]="rbdForm"
          novalidate>

      <div class="form-header">{{ formTitle }}
        <cd-help-text>
          <div *ngIf="action === 'Copy'">{{copyMessage}}
          </div>
        </cd-help-text>
      </div>

      <!-- Parent -->
      <div class="form-item"
           *ngIf="rbdForm.getValue('parent')">
        <cds-text-label for="parent"
                        i18n>{{ action | titlecase }} from
          <input cdsText
                 type="text"
                 id="parent"
                 name="parent"
                 formControlName="parent"
                 autofocus>
        </cds-text-label>
      </div>

      <!-- Name -->
      <div class="form-item">
        <cds-text-label [invalid]="!rbdForm.controls['name'].valid && (rbdForm.controls['name'].dirty)"
                        [invalidText]="nameError"
                        for="name"
                        i18n
                        [cdRequiredField]="isZhHans ? '名称' : 'Name'">Name
          <input cdsText
                 type="text"
                 [placeholder]="isZhHans ? '名称...' : 'Name...'"
                 id="name"
                 name="name"
                 formControlName="name"
                 [invalid]="!rbdForm.controls['name'].valid && (rbdForm.controls['name'].dirty)"
                 autofocus>
        </cds-text-label>
        <ng-template #nameError>
          <span *ngIf="rbdForm.showError('name', formDir, 'required')">
            <ng-container i18n>This field is required.</ng-container>
          </span>
          <span *ngIf="rbdForm.showError('name', formDir, 'pattern')">
            <ng-container i18n>'/' and '&#64;' are not allowed.</ng-container>
          </span>
        </ng-template>
      </div>

      <!-- Pool -->
      <div class="form-item"
           (change)="onPoolChange($event.target.value)">
        <cds-text-label for="pool"
                        i18n
                        *ngIf="mode === 'editing' || !poolPermission.read">Pool
          <input cdsText
                 type="text"
                 [placeholder]="isZhHans ? '存储池名称...' : 'Pool name...'"
                 id="pool"
                 name="pool"
                 formControlName="pool">
        </cds-text-label>
        <cds-select [label]="isZhHans ? '存储池' : 'Pool'"
                    for="pool"
                    name="pool"
                    id="pool"
                    formControlName="pool"
                    [cdRequiredField]="isZhHans ? '存储池' : 'Pool'"
                    [invalid]="!rbdForm.controls['pool'].valid && (rbdForm.controls['pool'].dirty)"
                    [invalidText]="poolError"
                    *ngIf="mode !== 'editing' && poolPermission.read">
          <option *ngIf="pools === null"
                  [ngValue]="null"
                  i18n>Loading...</option>
          <option *ngIf="pools !== null && pools.length === 0"
                  [ngValue]="null"
                  i18n>-- No block pools available --</option>
          <option *ngIf="pools !== null && pools.length > 0"
                  [ngValue]="null"
                  i18n>-- Select a pool --</option>
          <option *ngFor="let pool of pools"
                  [value]="pool.pool_name">{{ pool.pool_name }}</option>
        </cds-select>
        <ng-template #poolError>
          <span *ngIf="rbdForm.showError('pool', formDir, 'required')"
                class="invalid-feedback"
                i18n>This field is required.</span>
        </ng-template>
      </div>

      <!-- Mirroring -->
      <div class="form-item">
        <cds-checkbox id="mirroring"
                      name="mirroring"
                      formControlName="mirroring"
                      (checkedChange)="setMirrorMode()"
                      i18n>Mirroring
          <cd-help-text>{{ mirroringHelpText }}</cd-help-text>

        </cds-checkbox>
        <cd-alert-panel *ngIf="showMirrorDisableMessage"
                        spacingClass="mt-2"
                        [showTitle]="false"
                        type="info">
          {{ disableMirroringInfoText }}
        </cd-alert-panel>
        <cd-alert-panel *ngIf="currentPoolMirrorMode === 'disabled'"
                        type="info"
                        [showTitle]="false"
                        spacingClass="mt-2"
                        [actionName]="setModeLabel"
                        (action)="onAlertAction($event)">
          {{ enableMirroringInfoText }}
        </cd-alert-panel>
      </div>

      <!-- Mirroring Modes -->
      <div *ngIf="mirroring && currentPoolMirrorMode !== 'disabled'"
           class="form-item">
        <cds-radio-group formControlName="mirroringMode"
                         name="mirroringMode">
          <cds-radio *ngFor="let option of mirroringOptions"
                     [value]="option.value"
                     [id]="option.value"
                     (change)="setExclusiveLock()"
                     [disabled]="shouldDisable(option.value)">
            {{ option.value | titlecase }}
            <cd-helper> {{ option.text}} </cd-helper>
          </cds-radio>
        </cds-radio-group>
        <cd-alert-panel *ngIf="currentPoolMirrorMode === 'pool' && mode !== 'editing'"
                        type="info"
                        [showTitle]="false"
                        spacingClass="mt-2"
                        [actionName]="setModeLabel"
                        (action)="onAlertAction($event)">
          {{ snapshotMirroringInfoText }}
        </cd-alert-panel>
      </div>

      <!-- Snapshot Schedule Interval -->
      <div class="form-item"
           *ngIf="rbdForm.getValue('mirroringMode') === 'snapshot' && mirroring">
        <cds-text-label for="schedule"
                        [helperText]="scheduleHelperText"
                        [cdRequiredField]="scheduleIntervalLabel"
                        [invalid]="!rbdForm.controls['schedule'].valid && (rbdForm.controls['schedule'].dirty)"
                        [invalidText]="scheduleError">{{ scheduleIntervalLabel }}
          <input cdsText
                 type="text"
                 [placeholder]="schedulePlaceholder"
                 id="schedule"
                 name="schedule"
                 formControlName="schedule"
                 [disabled]="(peerConfigured === false) ? true : null"
                 [invalid]="!rbdForm.controls['schedule'].valid && (rbdForm.controls['schedule'].dirty)">
        </cds-text-label>
        <ng-template #scheduleError>
          <span *ngIf="rbdForm.showError('schedule', formDir, 'required')"
                class="invalid-feedback"
                i18n>This field is required.</span>
        </ng-template>
      </div>

      <!-- Use a dedicated pool -->
      <div class="form-item"
           *ngIf="allDataPools.length > 1 || mode === 'editing'">
        <cds-checkbox id="useDataPool"
                      name="useDataPool"
                      formControlName="useDataPool"
                      (change)="onUseDataPoolChange()"
                      >{{ useDedicatedDataPoolLabel }}

          <cd-help-text>{{ useDedicatedDataPoolHelperText }}</cd-help-text>

          <cd-helper *ngIf="allDataPools.length <= 1 && mode !== 'editing'">
            <span>{{ dedicatedDataPoolRequirementText }}</span>
          </cd-helper>
        </cds-checkbox>
      </div>

      <!-- Data pools -->
      <div class="form-item"
           *ngIf="rbdForm.getValue('useDataPool')">
        <cds-select [label]="dataPoolLabel"
                    [helperText]="dataPoolHelperText"
                    for="dataPool"
                    name="dataPool"
                    id="dataPool"
                    [invalid]="!rbdForm.controls['dataPool'].valid && (rbdForm.controls['dataPool'].dirty)"
                    [invalidText]="dataPoolError"
                    formControlName="dataPool"
                    [cdRequiredField]="dataPoolLabel"
                    *ngIf="mode !== 'editing' && poolPermission.read">
          <option *ngIf="dataPools === null"
                  [ngValue]="null"
                  i18n>Loading...</option>
          <option *ngIf="dataPools !== null && dataPools.length === 0"
                  [ngValue]="null"
                  i18n>-- No data pools available --</option>
          <option *ngIf="dataPools !== null && dataPools.length > 0"
                  [ngValue]="null"
                  i18n>-- Select a data pool --</option>
          <option *ngFor="let dataPool of dataPools"
                  [value]="dataPool.pool_name">{{ dataPool.pool_name }}</option>
        </cds-select>
        <ng-template #dataPoolError>
          <span *ngIf="rbdForm.showError('dataPool', formDir, 'required')"
                class="invalid-feedback"
                i18n>This field is required.</span>
        </ng-template>
      </div>

      <!-- Namespace -->
      <!-- Skeleton-->
      <div class="form-item"
           *ngIf="mode !== 'editing' && rbdForm.getValue('pool') && namespaces === null">
        <cds-select [label]="namespaceLabel"
                    for="namespace"
                    name="namespace"
                    id="namespace"
                    [skeleton]="true"
                    formControlName="namespace">
          <option [ngValue]="null"
                  i18n>Loading...</option>
        </cds-select>
      </div>

      <div class="form-item">
        <cds-select [label]="namespaceLabel"
                    [helperText]="namespaceHelperText"
                    for="namespace"
                    name="namespace"
                    id="namespace"
                    formControlName="namespace"
                    *ngIf="(mode === 'editing' && rbdForm.getValue('namespace')) || mode !== 'editing' && (namespaces && namespaces.length > 0 || !poolPermission.read)">
          <option *ngIf="namespaces === null"
                  [ngValue]="null"
                  i18n>Loading...</option>
          <option *ngIf="namespaces !== null && namespaces.length === 0"
                  [ngValue]="null"
                  i18n>-- No namespaces available --</option>
          <option *ngIf="namespaces !== null && namespaces.length > 0"
                  [ngValue]="null"
                  i18n>-- Select a namespace --</option>
          <option *ngFor="let namespace of namespaces"
                  [value]="namespace">{{ namespace }}</option>
        </cds-select>
      </div>

      <!-- Size -->
      <div class="form-item">
        <cds-text-label for="size"
                        i18n
                        [invalid]="!rbdForm.controls['size'].valid && (rbdForm.controls['size'].dirty)"
                        [invalidText]="sizeError"
                        [cdRequiredField]="isZhHans ? '大小' : 'Size'">Size
          <input cdsText
                 type="text"
                 [placeholder]="isZhHans ? '例如：10GiB' : 'e.g., 10GiB'"
                 id="size"
                 name="size"
                 formControlName="size"
                 defaultUnit="GiB"
                 [invalid]="!rbdForm.controls['size'].valid && (rbdForm.controls['size'].dirty)"
                 cdDimlessBinary>
        </cds-text-label>
        <ng-template #sizeError>
          <span class="invalid-feedback"
                *ngIf="rbdForm.showError('size', formDir, 'required')"
                i18n>This field is required.</span>
          <span class="invalid-feedback"
                *ngIf="rbdForm.showError('size', formDir, 'invalidSizeObject')"
                i18n>You have to increase the size.</span>
          <span *ngIf="rbdForm.showError('size', formDir, 'pattern')"
                class="invalid-feedback"
                i18n>Size must be a number or in a valid format. eg: 5 GiB</span>
        </ng-template>
      </div>

      <!-- Advanced Section -->
      <cd-form-advanced-fieldset>
        <!-- Features -->
        <div class="form-item"
             formGroupName="features">
          <fieldset>
            <label class="cds--label"
                   for="features"
                   i18n>Features</label>
            <ng-container *ngFor="let feature of featuresList">
              <cds-checkbox [id]="feature.key"
                            [name]="feature.key"
                            [formControlName]="feature.key"
                            class="spacing-03">
                {{ feature.key | titlecase}}
                <cd-help-text *ngIf="feature.helperText">
                  {{ feature.helperText}}
                </cd-help-text>
                <cd-alert-panel type="warning"
                                spacingClass="mt-2"
                                [showTitle]="false"
                                *ngIf="feature.helperHtml && rbdForm.getValue(feature.key) === false">
                {{ feature.helperHtml }}
                </cd-alert-panel>
              </cds-checkbox>
            </ng-container>
          </fieldset>
        </div>

        <legend class="cd-header"
                i18n>Striping</legend>
        <!-- Object Size -->
        <div class="form-item">
          <cds-select for="obj_size"
                      [label]="objectSizeLabel"
                      [helperText]="objectSizeHelperText"
                      id="obj_size"
                      name="obj_size"
                      formControlName="obj_size">
            <option *ngFor="let objectSize of objectSizes"
                    [value]="objectSize">{{ objectSize }}</option>
          </cds-select>
        </div>

        <!-- stripingUnit -->
        <div class="form-item">
          <cds-select for="stripingUnit"
                      [label]="stripeUnitLabel"
                      [helperText]="stripeUnitHelperText"
                      id="stripingUnit"
                      name="stripingUnit"
                      formControlName="stripingUnit"
                      [cdRequiredField]="stripingUnitRequiredLabel"
                      [invalid]="!rbdForm.controls['stripingUnit'].valid && (rbdForm.controls['stripingUnit'].dirty)"
                      [invalidText]="stripingUnitError">
            <option [ngValue]="null">{{ selectStripeUnitText }}</option>
            <option *ngFor="let objectSize of objectSizes"
                    [value]="objectSize">{{ objectSize }}</option>
          </cds-select>
          <ng-template #stripingUnitError>
            <span class="invalid-feedback"
                  *ngIf="rbdForm.showError('stripingUnit', formDir, 'required')"
                  i18n>This field is required because stripe count is defined!</span>
            <span class="invalid-feedback"
                  *ngIf="rbdForm.showError('stripingUnit', formDir, 'invalidStripingUnit')"
                  i18n>Stripe unit is greater than object size.</span>
          </ng-template>
        </div>

        <!-- Stripe Count -->
        <div class="form-item">
          <cds-number
                      for="stripingCount"
                      [label]="stripeCountLabel"
                      [helperText]="stripeCountHelperText"
                      id="stripingCount"
                      name="stripingCount"
                      formControlName="stripingCount"
                      [cdRequiredField]="stripingCountRequiredLabel"
                      [min]="1"
                      [invalid]="!rbdForm.controls['stripingCount'].valid && (rbdForm.controls['stripingCount'].dirty)"
                      [invalidText]="stripingCountError"
                      [required]="true"></cds-number>
          <ng-template #stripingCountError>
            <span class="invalid-feedback"
                  *ngIf="rbdForm.showError('stripingCount', formDir, 'required')"
                  i18n>This field is required because stripe unit is defined!</span>
            <span class="invalid-feedback"
                  *ngIf="rbdForm.showError('stripingCount', formDir, 'min')"
                  i18n>Stripe count must be greater than 0.</span>
          </ng-template>
        </div>

        <cd-rbd-configuration-form [form]="rbdForm"
                                   [initializeData]="initializeConfigData"
                                   (changes)="getDirtyConfigurationValues = $event"></cd-rbd-configuration-form>
      </cd-form-advanced-fieldset>

      <cd-form-button-panel (submitActionEvent)="submit()"
                            [form]="formDir"
                            [submitText]="formTitle"
                            wrappingClass="text-right"></cd-form-button-panel>

    </form>
  </ng-container>
</div>
