<div class="container h-75"
     *ngIf="startClusterCreation">
  <div class="h-100 justify-content-center align-items-center"
       cdsRow>
    <div class="blank-page">
      <!-- htmllint img-req-src="false" -->
      <img [src]="projectConstants.cephLogo"
           alt="Ceph"
           class="img-fluid mx-auto d-block">
      <h3 class="text-center m-2"
          i18n>Welcome to {{ projectConstants.projectName }}</h3>

      <div class="m-4">
        <h4 class="text-center"
            i18n>Please expand your cluster first</h4>
        <div class="text-center">
          <button cdsButton="primary"
                  name="expand-cluster"
                  (click)="createCluster()"
                  [attr.aria-label]="isZhHans ? '扩展集群' : 'Expand Cluster'">{{ isZhHans ? '扩展集群' : 'Expand Cluster' }}</button>
          <button cdsButton="secondary"
                  name="skip-cluster-creation"
                  [attr.aria-label]="isZhHans ? '跳过' : 'Skip'"
                  (click)="skipClusterCreation()">{{ isZhHans ? '跳过' : 'Skip' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div cdsRow
     class="form"
     *ngIf="!startClusterCreation">
  <div cdsCol
       [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 2}"
       class="indicator-wrapper">

    <div class="form-header">{{ isZhHans ? '扩展集群' : 'Expand Cluster' }}</div>
    <cd-wizard [stepsTitle]="stepTitles"></cd-wizard>
  </div>

  <div cdsCol
       [columnNumbers]="{'lg': 14, 'md': 14, 'sm': 14}">
    <ng-container [ngSwitch]="currentStep?.stepIndex">
      <div *ngSwitchCase="0"
           class="ms-5">
        <h4 class="title"
            >{{ isZhHans ? '添加主机' : 'Add Hosts' }}</h4>

        <cd-hosts [hiddenColumns]="['service_instances']"
                  [hideMaintenance]="true"
                  [hasTableDetails]="false"
                  [showGeneralActionsOnly]="true"
                  [showExpandClusterBtn]="false"></cd-hosts>
      </div>
      <div *ngSwitchCase="1"
           class="ms-5">
        <h4 class="title"
            >{{ isZhHans ? '创建 OSD' : 'Create OSDs' }}</h4>
        <div class="alignForm">
          <cd-osd-form [hideTitle]="true"
                       [hideSubmitBtn]="true"
                       (emitDriveGroup)="setDriveGroup($event)"
                       (emitDeploymentOption)="setDeploymentOptions($event)"
                       (emitMode)="setDeploymentMode($event)"></cd-osd-form>
        </div>
      </div>
      <div *ngSwitchCase="2"
           class="ms-5">
        <h4 class="title"
            >{{ isZhHans ? '创建服务' : 'Create Services' }}</h4>
        <cd-services [hasDetails]="false"
                     [hiddenServices]="['mon', 'mgr', 'crash', 'agent']"
                     [hiddenColumns]="['status.running', 'status.size', 'status.last_refresh']"
                     [routedModal]="false"></cd-services>
      </div>
      <div *ngSwitchCase="3"
           class="ms-5">
        <cd-create-cluster-review></cd-create-cluster-review>
      </div>
    </ng-container>
    <div cdsRow
         class="m-5">
      <button cdsButton="secondary"
              class="me-3"
              id="skipStepBtn"
              (click)="onSkip()"
              [attr.aria-label]="isZhHans ? '跳过此步骤' : 'Skip this step'"
              *ngIf="currentStep?.stepIndex === 1">{{ isZhHans ? '跳过' : 'Skip' }}</button>
      <cd-back-button buttonType="secondary"
                      aria-label="Close"
                      (backAction)="onPreviousStep()"
                      [name]="showCancelButtonLabel()"></cd-back-button>
      <button cdsButton="primary"
              (click)="onNextStep()"
              [attr.aria-label]="isZhHans ? '下一步' : 'Next'">{{ showSubmitButtonLabel() }}</button>
    </div>
  </div>
</div>

<ng-template #skipConfirmTpl>
  <span>
    {{ isZhHans ? '您即将跳过集群扩展流程。' : 'You are about to skip the cluster expansion process.' }}
    <strong>{{ isZhHans ? '后续需要通过菜单添加主机和服务。' : 'You’ll need to navigate through the menu to add hosts and services.' }}</strong>
  </span>

  <div class="mt-4"
       i18n>Are you sure you want to continue?</div>
</ng-template>
