<cds-tabs
  type="contained"
  followFocus="true"
  isNavigation="true"
  [cacheActive]="false">
  <cds-tab
    [heading]="clusterLabel"
    [active]="activeTab === Tabs.cluster"
    (selected)="onSelected(Tabs.cluster)">
  </cds-tab>
  <cds-tab
    [heading]="activeDirectoryLabel"
    [active]="activeTab === Tabs.activeDirectory"
    (selected)="onSelected(Tabs.activeDirectory)">
  </cds-tab>
  <cds-tab
    [heading]="standaloneLabel"
    [active]="activeTab === Tabs.standalone"
    (selected)="onSelected(Tabs.standalone)">
  </cds-tab>
  <cds-tab
    [heading]="overviewLabel"
    [active]="activeTab === Tabs.overview"
    (selected)="onSelected(Tabs.overview)">
  </cds-tab>
</cds-tabs>
