<legend>
  分层配置
  <cd-help-text>
    为存储桶配置分层规则，在指定天数后自动将对象迁移到不同存储类型。你可以按全局规则生效，也可以仅对带特定前缀或标签的对象生效。
  </cd-help-text>
</legend>
<cd-table #table
          [data]="filteredLifecycleRules$ | async"
          [columns]="columns"
          columnMode="flex"
          selectionType="multiClick"
          (updateSelection)="updateSelection($event)"
          identifier="ID"
          (fetchData)="loadLifecyclePolicies($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
</cd-table>
