<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/rgw/user"
       routerLinkActive="active"
       ariaCurrentWhenActive="page"
       [routerLinkActiveOptions]="{exact: true}">{{ usersLabel }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/rgw/accounts"
       routerLinkActive="active"
       ariaCurrentWhenActive="page"
       [routerLinkActiveOptions]="{exact: true}">{{ accountsLabel }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/rgw/roles"
       routerLinkActive="active"
       ariaCurrentWhenActive="page"
       [routerLinkActiveOptions]="{exact: true}">{{ rolesLabel }}</a>
  </li>
</ul>
